.title{
    width: 1519px;
    height: 100px;
    
}
body {
    position: relative;
    margin: 0;
}

.box{
     
    background-color: #108888;
    height: 600px;
    width: 1203px;
    position: absolute;
    top: 206px;
    left: 154px;
}

.inner{
    height: 90px;
    width: 963px;
    background-color: white;
    /* position: absolute;
    top: 30px;
    left: 120px; */
    margin-top: 20px;
    margin-left: 120px;
}



.t1{
    width: 293px; 
    height: 40px;
     border-top-width: 2px; 
     border-bottom-width: 2px; 
     margin-top: 20px;
     margin-left: 20px;
      margin-bottom: 20px;
}

.b1{
    width: 60px; 
    height: 40px;
     border-top-width: 2px; 
     border-bottom-width: 2px; 
     position: relative;
     bottom: 40px;
     left: 40px
  
}
#id{
    width: 60px; 
    height: 40px;
     border-top-width: 2px; 
     border-bottom-width: 2px; 
   
      
}
